{
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 150,
    "endOfLine": "lf",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "plugins": ["prettier-plugin-tailwindcss"]
}
